<div class="ui secondary massive menu">
    <a class="item" style="padding:0px; margin-left: 15px; margin-top: 15px;" href="/">
        <img src="/foxtrot3-small.png" style="width:200px;">
    </a>
    <div class="right menu">
        <div class="right item">
            <div>
                <div style="float: right">
                  <a href="/guide/install">Install</a> |
                  <a href="/guide">Guide</a> |
                  <a href="/blog">Blog</a>
                </div>
                <!--<div>
                    <div class="ui icon large transparent search input" style="margin-top: 10px;float: right">
                        <input type="text" style="width: 200px">
                        <i class="search icon"></i>
                    </div>
                </div> -->
            </div>
        </div>
      </div>
</div>