{{ define "main" }}

    <style>
        .attached.segment {
            margin: 30px 0!important;
        }
    </style>

<div class="ui container basic segments">

  <div class="ui top attached basic segment">
      <div class="ui netboard test centered ad" data-text="Foxtrot"></div>
  </div>

  <div class="ui attached center aligned basic segment">
      <div class="ui green huge button">Get Started</div>
      <div class="ui blue huge button">Documentation</div>
  </div>

  <div class="ui doubling three column grid attached basic segment">
      <div class="column">
        <h2 class="ui header">
            <i class="edit icon"></i>
            <div class="content">
              Scientific Notebook
              <div class="sub header">Manage your preferences</div>
            </div>
          </h2>
      </div>
      <div class="column">
        <h2 class="ui header">
            <i class="chart line icon"></i>
            <div class="content">
              Visualize Data
              <div class="sub header">Manage your preferences</div>
            </div>
          </h2>
      </div>
      <div class="column">
        <h2 class="ui header">
            <i class="superscript icon"></i>
            <div class="content">
              Beautiful Typography
              <div class="sub header">Manage your preferences</div>
            </div>
          </h2>
      </div>
      <div class="column">
        <h2 class="ui header">
            <i class="code icon"></i>
            <div class="content">
              Symbolic Language
              <div class="sub header">Manage your preferences</div>
            </div>
          </h2>
      </div>
      <div class="column">
          <h2 class="ui header">
              <i class="computer icon"></i><i class="tablet alternate icon"></i>
              <div class="content">
                Cross Platform
                <div class="sub header">Manage your preferences</div>
              </div>
            </h2>
        </div>
      <div class="column">
          <h2 class="ui header">
              <i class="balance scale icon"></i>
              <div class="content">
                Open Source
                <div class="sub header">Manage your preferences</div>
              </div>
            </h2>
        </div>
    </div>

    <div class="ui bottom attached basic segment">
        <h1 class="ui huge header">Support</h1>
        <p>weldneowndeow</p>
    </div>
</div>
{{ end }}